:root {
    --standard-section-height : 7rem;
}

body {
    font-size: 2rem;
    color: #6b7376;
    font-family : 'Segoe UI', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #009688 10vh, #dadbd3 10vh);
}

input {
    outline: none;
    border: none;
}

/*
###########
L A Y O U T
###########
*/

.outer-wrapper {
    max-width: 1200px;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

.main.flex-container ,
.header.flex-container {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    float:left;
}

.header {    width: 30%; }
.main {      width: 70%; }

/*
#################
U T I L I T I E S
#################
*/

.user-nav-bar.flex-container {
    flex: 0 0 var(--standard-section-height);
    justify-content: space-between;

    background-color: #eaeaea;
    border: 1px dashed gray;    /* debug */    
}

/*
###########
H E A D E R
###########
*/

.header.flex-container > .notification-outer  {
    flex: 0 0 8rem ;
    background-color: #8edafc;
}

.header.flex-container > .search-outer {
    flex: 0 0 5rem ;
}

.header.flex-container > .contacts-section-outer {
    flex: 1 0 auto;
    overflow-y: scroll;
}

/* contacts section */

.contacts-list img.contact-avatar {
    width: 80px;
    border-radius: 50%;
}

.contacts-list span.contact-name {
    vertical-align: top;    
}

/*
#######
M A I N
#######
*/

.main.flex-container > .active-contact-info ,
.main.flex-container > .new-message-bar {
    flex: 0 0 var(--standard-section-height);
    background-color: #eaeaea;
}

.main.flex-container > .chat-area {
    flex: 1 0 auto;
    overflow-y: scroll;
    background-image: url('../img/mine.jpg');
}

/*  New Message Bar (main bottom) */

.new-message-bar.flex-container {
    justify-content: space-between;
}

.new-message-bar > .emoticon-button ,
.new-message-bar > .audio-message-outer {
    flex: 0 0 var(--standard-section-height);
}

.new-message-bar > .input-area-outer {
    flex: 1 0 auto;
}

.new-message-bar > .input-area-outer input {
    width: 100%;
    line-height: 5rem;
    padding: 0 1em;
    border-radius: .5rem;
}