:root {
    --standard-section-height : 7rem;
    --gray-medium : #b1b1b1;

}

body {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--gray-medium);
    font-family : 'Segoe UI', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #009688 10vh, #dadbd3 10vh);
}

input {
    outline: none;
    border: none;
}

/*
###########
L A Y O U T
###########
*/

.outer-wrapper {
    max-width: 1540px;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

.main.flex-container ,
.header.flex-container {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    float:left;
}

.header {    width: 35%; }
.main {      width: 65%; }

/*
#################
U T I L I T I E S
#################
*/

.user-nav-bar.flex-container {
    flex: 0 0 var(--standard-section-height);
    justify-content: space-between;

    background-color: #eaeaea;
}

.user-box img.avatar {
    width: 5rem;
    margin: 0 2rem 0 1.5rem;
}

img.avatar {
    border-radius: 50%;
}

/*
###########
H E A D E R
###########
*/

.header.flex-container > .notification-outer  {
    flex: 0 0 8rem ;
    background-color: #8edafc;
}

.header.flex-container > .search-outer {
    flex: 0 0 5rem ;
}

.header.flex-container > .contacts-section-outer {
    flex: 1 0 auto;
    overflow-y: scroll;
}

/* settings section */

.settings-outer {
    border-right: 1px solid var(--gray-medium);
}

/* contacts section */

li.single-contact:hover {
    background-color: var(--gray-medium);
    cursor: pointer;
}

.contacts-section-outer img.avatar {
    width: 60px;
}

.contacts-list span.contact-name {
    vertical-align: top;    
}

/*
#######
M A I N
#######
*/

/* Contact Info (main top) */

.main.flex-container > .active-contact-info ,
.main.flex-container > .new-message-bar {
    flex: 0 0 var(--standard-section-height);
}

.main.flex-container > .active-contact-info {
    background-color: #eaeaea;
}

/*  Chat Area (main center) */

.inner-chat-area {
    padding: 5vh 5vw;
}

.main.flex-container > .chat-area {
    flex: 1 0 auto;
    overflow-y: scroll;
    background-image: url('../img/mine.jpg');
}

.single-message-box {
    min-width: 320px;
    max-width: 620px;
    clear: both;
    border-radius: 1rem;
}

.single-message-box.sent {
    background-color: #d5f9ba;
    float: right;
}

.single-message-box.received {
    background-color: #ffffff;
    float: left;
}

.single-message-box span.single-message-date{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
    opacity: 0.7;
}

/*  New Message Bar (main bottom) */

.new-message-bar.flex-container {
    justify-content: space-between;
    background-color: #f3eeea;
}

.new-message-bar > .emoticon-button ,
.new-message-bar > .audio-message-outer {
    flex: 0 0 var(--standard-section-height);
    opacity: .75;
}

.new-message-bar > .input-area-outer {
    flex: 1 0 auto;
}

.new-message-bar > .input-area-outer input {
    width: 100%;
    line-height: 5rem;
    padding: 0 1em;
    border-radius: .5rem;
}